.linked_class {
  --colors-blue-500: #3d53f5;
}

.external_test_class{
  background-color: aqua;
  color: blueviolet;
}

:root {
  --brands-tab-accent: #FF833E;
  --brands-tab-surface: #FFFFFF;
  --brands-tab-text: #333333;
  --brands-kinandcarta-accent: #7237D2;
  --brands-kinandcarta-surface: #333333;
  --brands-kinandcarta-text: #ffffff;
}
/* Kill off when done
.tokens_file_css_variable_pasted_int_external_root{
  background-color: var(--bbc-sport-yellow);
  color: var(--colors-blue-500);
}
*/




/* LAYOUT STYLES */

body{
  max-width: 1800;
  margin: auto;
  padding 20px;
  background-color: var(--brands-tab-accent);
}

#header-block{
  background-color: var(--brands-tab-accent);
}

#grid-block{
  display: inline-flex;
  width: 100%;
  border-radius: 10px;
}

.grid-item{
  margin: 20px;
  padding: 10px;
  background-color: var(--brands-tab-surface);
  height: 200px;
  border-radius: 10px;
}

.stripe-block{
  background-color: var(--brands-tab-surface);
  padding: 20px;
  margin: 20px 0 20px 0;
}


/* TEXT STYLES */
h1{
  color: var(---brands-tab-text);
}

p{
  color: var(---brands-tab-text);
}