.global-theme {
          --brand-tab-accent: #FF833E;
  --brand-tab-surface: #FFFFFF;
  --brand-tab-text: #333333;
  --brand-kinandcarta-accent: #7237D2;
  --brand-kinandcarta-surface: #333333;
  --brand-kinandcarta-text: #ffffff;
      }