.global-theme {
          --brands-tab-accent: #FF833E;
  --brands-tab-surface: #FFFFFF;
  --brands-tab-text: #333333;
  --brands-kinandcarta-accent: #7237D2;
  --brands-kinandcarta-surface: #333333;
  --brands-kinandcarta-text: #ffffff;
      }